block content
  .header
    .container  
      .logo
        a(href="/")
          img(src="images/logo.svg")
        a(href="/")
          .live
            .live-dot
            span En Vivo
            span.h Canal 21 HD
        a(href="/nosotros.html")
          span Quiénes Somos
        a.contact(href="mailto:contacto@wapptv.cl")
          span Contáctanos
      .social
        a(href="https://www.facebook.com/wapptv.cl/")
          img.logo(src="images/facebook.svg")
        a(href="https://www.instagram.com/wapptv.cl/")
          img.logo(src="images/instagram.svg")
        a(href="https://www.youtube.com/channel/UCgylg1Pa7i56wLwn6sA74HA")
          img.logo(src="images/youtube.svg")
        a(href="https://twitter.com/wapptv")
          img.logo(src="images/twitter.svg")
